server:
  port: 8081
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:.\db\a
    username: root
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  bot:
    plugin-list: xin.lz1998.mcbot.plugin.AdminPlugin,xin.lz1998.mcbot.plugin.PlayerPlugin
rcon:
  host: 127.0.0.1
  port: 25575
  password: 123123